{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage" }],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-syntax-jsx"
      ]
    }
  }
}
